@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
 
}

<div class="bg-black py-2">
  <div class="flex items-center text-neutral container mx-auto px-4">
    © Onatrix. All Rights Reserved. Credits to&nbsp;<span class="text-secondary">Milan</span>! (och Emil)
  </div>
</div>
