<?xml version="1.0" encoding="utf-8"?>
<Media Key="77eac972-4638-4dfe-895c-567eb2763a96" Alias="Aaron.svg" Level="2">
  <Info>
    <Parent Key="f0a360f2-bd50-45d4-a915-2f8dadff52e1">Team Members</Parent>
    <Path>/TeamMembers/Aaronsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T20:23:04</CreateDate>
    <NodeName Default="Aaron.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qb0erfjd/aaron.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>