<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0e542cd-3b7a-4574-b977-651196794b06" Alias="AboutUsForm.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutUsFormsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T16:25:20</CreateDate>
    <NodeName Default="AboutUsForm.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h55foitb/aboutusform.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>