<?xml version="1.0" encoding="utf-8"?>
<Media Key="617d55de-a34d-4191-9cb1-687a1db8e13c" Alias="AboutKevin.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutKevinsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T16:58:15</CreateDate>
    <NodeName Default="AboutKevin.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ftun5a0w/aboutkevin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>