<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ce2058b-4966-4360-b830-3a84986dd930" Alias="AJ.svg" Level="2">
  <Info>
    <Parent Key="f0a360f2-bd50-45d4-a915-2f8dadff52e1">Team Members</Parent>
    <Path>/TeamMembers/AJsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T20:23:04</CreateDate>
    <NodeName Default="AJ.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pg2ebht3/aj.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>