<?xml version="1.0" encoding="utf-8"?>
<Media Key="a43319fa-f7ab-4d50-a74e-1a707ddebb11" Alias="Bot-Img.svg" Level="2">
  <Info>
    <Parent Key="23e34d80-2b73-4292-9824-31efda30b0d0">Let Us Know</Parent>
    <Path>/LetUsKnow/BotImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T15:07:12</CreateDate>
    <NodeName Default="Bot-Img.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bcsjcrvq/bot-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>