<?xml version="1.0" encoding="utf-8"?>
<Media Key="6bc581a7-47de-4777-bf10-f5ae385be6c0" Alias="Brandon.svg" Level="2">
  <Info>
    <Parent Key="f0a360f2-bd50-45d4-a915-2f8dadff52e1">Team Members</Parent>
    <Path>/TeamMembers/Brandonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T20:23:04</CreateDate>
    <NodeName Default="Brandon.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ku4gpcof/brandon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>