<?xml version="1.0" encoding="utf-8"?>
<Media Key="27b3dc23-80a4-4e9b-b318-1ea709ca6012" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T14:46:22</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0fqbdrn5/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>