<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d9c50a8-c916-439b-8c06-46a7a3fd34b1" Alias="Emil-Biff.svg" Level="2">
  <Info>
    <Parent Key="f0a360f2-bd50-45d4-a915-2f8dadff52e1">Team Members</Parent>
    <Path>/TeamMembers/EmilBiffsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T15:45:09</CreateDate>
    <NodeName Default="Emil-Biff.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/llwd3tyn/emil-biff.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>