<?xml version="1.0" encoding="utf-8"?>
<Media Key="44f227ff-7d23-43cf-bc32-5adc0d9bc6c6" Alias="Hans-Biff.png" Level="2">
  <Info>
    <Parent Key="f0a360f2-bd50-45d4-a915-2f8dadff52e1">Team Members</Parent>
    <Path>/TeamMembers/HansBiffpng</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-10T15:34:33</CreateDate>
    <NodeName Default="Hans-Biff.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/brhbtzae/hans-biff.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>