<?xml version="1.0" encoding="utf-8"?>
<Media Key="62751441-3474-4ae8-9dc3-9d4a27196941" Alias="Hans-Biff.png" Level="2">
  <Info>
    <Parent Key="b097bd50-5e65-418a-b2dc-bbf264780a0e">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/HansBiffpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-06T13:54:00</CreateDate>
    <NodeName Default="Hans-Biff.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/z1pdhva3/hans-biff.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>