<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca60d373-3b01-4aeb-ba6b-89bc723f55fc" Alias="Hero.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Herosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-19T15:48:49</CreateDate>
    <NodeName Default="Hero.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qfxmeka0/hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>