<?xml version="1.0" encoding="utf-8"?>
<Media Key="6fcea7a6-cbce-4297-9184-3319a1e38614" Alias="iPhone 12 Pro.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/iPhone12Prosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-18T13:25:53</CreateDate>
    <NodeName Default="iPhone 12 Pro.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kqngzdov/iphone-12-pro.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>