<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5bae44f-adae-40a7-a023-12047577b212" Alias="Kerr.svg" Level="2">
  <Info>
    <Parent Key="f0a360f2-bd50-45d4-a915-2f8dadff52e1">Team Members</Parent>
    <Path>/TeamMembers/Kerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T20:23:05</CreateDate>
    <NodeName Default="Kerr.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xvmbqr3v/kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>