<?xml version="1.0" encoding="utf-8"?>
<Media Key="23e34d80-2b73-4292-9824-31efda30b0d0" Alias="Let Us Know" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LetUsKnow</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-10T15:01:32</CreateDate>
    <NodeName Default="Let Us Know" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>