<?xml version="1.0" encoding="utf-8"?>
<Media Key="74549783-cfce-4d99-a8d4-1c83f95eb826" Alias="Miranda.svg" Level="2">
  <Info>
    <Parent Key="b097bd50-5e65-418a-b2dc-bbf264780a0e">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/Mirandasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T16:09:05</CreateDate>
    <NodeName Default="Miranda.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oevpnfwv/miranda.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>