<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2765d80-0a51-42ee-8cda-7a13c22efbd3" Alias="new folder name" Level="2">
  <Info>
    <Parent Key="b097bd50-5e65-418a-b2dc-bbf264780a0e">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/newFolderName</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-06T13:57:46</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>