<?xml version="1.0" encoding="utf-8"?>
<Media Key="dca57010-856c-4450-82d4-07703f0efda4" Alias="Rating.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ratingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T17:15:57</CreateDate>
    <NodeName Default="Rating.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2lgboptx/rating.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>