<?xml version="1.0" encoding="utf-8"?>
<Media Key="c21606a1-3571-4384-9ce1-76800c98a275" Alias="ServiceDetailQuestionForm.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServiceDetailQuestionFormsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T16:25:20</CreateDate>
    <NodeName Default="ServiceDetailQuestionForm.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ko3liidk/servicedetailquestionform.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>