<?xml version="1.0" encoding="utf-8"?>
<Media Key="a70ee92c-d9c8-4ef6-ae19-820efc1356f6" Alias="Sgnature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sgnaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-02T16:53:19</CreateDate>
    <NodeName Default="Sgnature.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1zkkyrot/sgnature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>