<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2d111bf-400f-43d8-b5f6-c4adff967be0" Alias="sl-home2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-19T15:57:59</CreateDate>
    <NodeName Default="sl-home2.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jwwhgeau/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>