<?xml version="1.0" encoding="utf-8"?>
<Media Key="6551b0a8-f16e-490e-8bd2-ea3cf10d5bea" Alias="sl-home2.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-21T17:32:54</CreateDate>
    <NodeName Default="sl-home2.svg (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ligphb1v/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>