<?xml version="1.0" encoding="utf-8"?>
<Media Key="942e1521-37db-4802-ba57-92f6833f3350" Alias="Statistic-Page.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StatisticPagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T15:25:49</CreateDate>
    <NodeName Default="Statistic-Page.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0ouiy3wa/statistic-page.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>