<?xml version="1.0" encoding="utf-8"?>
<Media Key="43691fd4-05b8-4fc3-bcac-a425510bb63d" Alias="Statistic-Advisors.svg" Level="2">
  <Info>
    <Parent Key="b097bd50-5e65-418a-b2dc-bbf264780a0e">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/StatisticAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T12:52:54</CreateDate>
    <NodeName Default="Statistic-Advisors.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/e0rmxind/statistic-advisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>