<?xml version="1.0" encoding="utf-8"?>
<Media Key="54d5f3c3-08d5-483b-8701-811a46ff6504" Alias="SuccessPeople.svg" Level="2">
  <Info>
    <Parent Key="0993845c-fbdc-4ad2-99f5-991f8c0dd40a">Success</Parent>
    <Path>/Success/SuccessPeoplesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T14:29:05</CreateDate>
    <NodeName Default="SuccessPeople.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gfhhpnwo/successpeople.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>