<?xml version="1.0" encoding="utf-8"?>
<Media Key="f55f6141-f001-4c7e-b8e3-98aec197e693" Alias="SuccessPartners.svg" Level="2">
  <Info>
    <Parent Key="0993845c-fbdc-4ad2-99f5-991f8c0dd40a">Success</Parent>
    <Path>/Success/SuccessPartnerssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T14:29:05</CreateDate>
    <NodeName Default="SuccessPartners.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wpop0fy0/successpartners.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>