<?xml version="1.0" encoding="utf-8"?>
<Media Key="0993845c-fbdc-4ad2-99f5-991f8c0dd40a" Alias="Success" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Success</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-12T14:28:53</CreateDate>
    <NodeName Default="Success" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties />
</Media>