<?xml version="1.0" encoding="utf-8"?>
<Media Key="f308ea1a-05a5-4e17-a03d-46efbd668554" Alias="SuccessDotMap.svg" Level="2">
  <Info>
    <Parent Key="0993845c-fbdc-4ad2-99f5-991f8c0dd40a">Success</Parent>
    <Path>/Success/SuccessDotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T14:29:04</CreateDate>
    <NodeName Default="SuccessDotMap.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3blluen4/successdotmap.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>