<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9030271-2468-491d-97db-63b9da18c8fe" Alias="Symbol.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Symbolsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T14:45:15</CreateDate>
    <NodeName Default="Symbol.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qo5lck1t/symbol.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>