<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b200cfd-108d-4162-bfef-34d879a4a2d9" Alias="Tax-Trusts.svg" Level="2">
  <Info>
    <Parent Key="b097bd50-5e65-418a-b2dc-bbf264780a0e">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/TaxTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T12:52:54</CreateDate>
    <NodeName Default="Tax-Trusts.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b4yjf0mw/tax-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>