<?xml version="1.0" encoding="utf-8"?>
<Media Key="18f7d854-00f1-474f-bab4-b975130976d5" Alias="TinaBig.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinaBigsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T14:07:34</CreateDate>
    <NodeName Default="TinaBig.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uzsfl4xk/tinabig.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>