<?xml version="1.0" encoding="utf-8"?>
<Media Key="554d17c2-cfb8-46b1-bdf6-a77454fdc4a1" Alias="Top-Img.svg" Level="2">
  <Info>
    <Parent Key="23e34d80-2b73-4292-9824-31efda30b0d0">Let Us Know</Parent>
    <Path>/LetUsKnow/TopImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T15:07:12</CreateDate>
    <NodeName Default="Top-Img.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gcvo5n3d/top-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>