<?xml version="1.0" encoding="utf-8"?>
<Media Key="5750df0d-58ca-49ae-a51b-d58694d4be7b" Alias="WeAreTrust-DotMap.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WeAreTrustDotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:22:07</CreateDate>
    <NodeName Default="WeAreTrust-DotMap.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/53rpfnor/wearetrust-dotmap.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>