<?xml version="1.0" encoding="utf-8"?>
<Media Key="2bb7ecf5-a6bd-40f3-9d12-85b499e331eb" Alias="WeAreTrust-DotMap.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WeAreTrustDotMapsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:23:23</CreateDate>
    <NodeName Default="WeAreTrust-DotMap.svg (1)" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a3iblsng/wearetrust-dotmap.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>