<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad20949f-6cc4-4375-b691-5eb76ba4afc8" Alias=" 2025-11-04 17:19 - asd" Level="2">
  <Info>
    <Parent Key="4099bbed-1a37-4420-be12-78caecae2f7c">Form Submissions</Parent>
    <Path>/FormSubmissions/asd</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-04T17:19:02</CreateDate>
    <NodeName Default=" 2025-11-04 17:19 - asd" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[asd@asddddddddddd.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[asd]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Emil]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[asd]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>