<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a250b3b-ba63-418c-bc7e-6935a98d4f9e" Alias=" 2025-11-04 16:38 - asdf" Level="2">
  <Info>
    <Parent Key="4099bbed-1a37-4420-be12-78caecae2f7c">Form Submissions</Parent>
    <Path>/FormSubmissions/asdf</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-04T16:38:52</CreateDate>
    <NodeName Default=" 2025-11-04 16:38 - asdf" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[asdf@asdf.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[asdf]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0704206969]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>