<?xml version="1.0" encoding="utf-8"?>
<Content Key="416c9d0c-7abc-4b50-885a-a399323a1f28" Alias="About" Level="2">
  <Info>
    <Parent Key="885b6172-11fa-47e6-91b3-307aeaa6ba8b">Onatrix</Parent>
    <Path>/Onatrix/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-10-23T20:31:24</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a8debc98-a5b2-49f3-b48e-6ac931d2840a">AboutPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5ea16344-e07e-4ffc-9093-55581546d64a",
      "key": "334db8e1-d9bc-427e-9921-7e0555993c37",
      "udi": null,
      "values": [
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Expert"
        },
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EA team of professionals\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ewith years of experience\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "f75046df-9fea-499b-b969-20c3de37092a",
                "key": "6fc7059c-9a7f-4dcf-a3dd-f8fa143bb4bc",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "51600f7b-aa9d-4a09-8119-921f0bdaedac",
                        "mediaKey": "6bc581a7-47de-4777-bf10-f5ae385be6c0",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "f75046df-9fea-499b-b969-20c3de37092a",
                "key": "cac7a9b6-dbcd-425a-9f2c-7cb8121cba54",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3edbefc8-9631-4252-b54d-e7eb815f9936",
                        "mediaKey": "7ce2058b-4966-4360-b830-3a84986dd930",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "f75046df-9fea-499b-b969-20c3de37092a",
                "key": "ea6fbefc-2c72-4c9e-8bc2-a6590d40c6d9",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambert"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "fc41bbda-4b29-486a-a760-9386887b3719",
                        "mediaKey": "77eac972-4638-4dfe-895c-567eb2763a96",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "f75046df-9fea-499b-b969-20c3de37092a",
                "key": "80d72e75-3841-44a2-8e2a-b4383d083cfc",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "97affa0c-0371-4bad-af55-8d0e3d69dd2a",
                        "mediaKey": "f9b4a584-3aa8-4448-bd38-ff463d69ab73",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "f75046df-9fea-499b-b969-20c3de37092a",
                "key": "3be6e455-4290-47ad-ac0e-8b957d00849e",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CFO \u0026 Co-Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ef7faf80-f716-4559-9043-6eed3d83a889",
                        "mediaKey": "a5bae44f-adae-40a7-a023-12047577b212",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "f75046df-9fea-499b-b969-20c3de37092a",
                "key": "66b37451-86c8-45f5-966c-9044ab7a8001",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Daytona"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "24a506d5-f104-4d3b-b936-5d0936604448",
                        "mediaKey": "6ede44fc-27a2-48c2-a6ca-18d4ed0edaa3",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "f75046df-9fea-499b-b969-20c3de37092a",
                "key": "09f91dea-f584-450d-acca-64adbb6b2dd0",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Garnett"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking advisor at Boston Celtics"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "2cc7f3a0-1001-4912-b28d-a494c64170d9",
                        "mediaKey": "66cfd619-2148-4613-9929-c5ace5d55190",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "6fc7059c-9a7f-4dcf-a3dd-f8fa143bb4bc",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "cac7a9b6-dbcd-425a-9f2c-7cb8121cba54",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ea6fbefc-2c72-4c9e-8bc2-a6590d40c6d9",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "80d72e75-3841-44a2-8e2a-b4383d083cfc",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "3be6e455-4290-47ad-ac0e-8b957d00849e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "66b37451-86c8-45f5-966c-9044ab7a8001",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "09f91dea-f584-450d-acca-64adbb6b2dd0",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "6fc7059c-9a7f-4dcf-a3dd-f8fa143bb4bc",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "cac7a9b6-dbcd-425a-9f2c-7cb8121cba54",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ea6fbefc-2c72-4c9e-8bc2-a6590d40c6d9",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "80d72e75-3841-44a2-8e2a-b4383d083cfc",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "3be6e455-4290-47ad-ac0e-8b957d00849e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "66b37451-86c8-45f5-966c-9044ab7a8001",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "09f91dea-f584-450d-acca-64adbb6b2dd0",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "4fd6f417-92ff-4546-85bc-910d0b65598e",
      "key": "f6b1aed8-3e62-4db4-b743-09ca5e7f6c55",
      "udi": null,
      "values": [
        {
          "alias": "Image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "11e94809-f661-452e-9c3c-f1b4394541ff",
              "mediaKey": "3c6685b2-de1b-465a-b49b-f15444fba3b9",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003ELet us know about your next project\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "334db8e1-d9bc-427e-9921-7e0555993c37",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f6b1aed8-3e62-4db4-b743-09ca5e7f6c55",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "334db8e1-d9bc-427e-9921-7e0555993c37",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "f6b1aed8-3e62-4db4-b743-09ca5e7f6c55",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>