<?xml version="1.0" encoding="utf-8"?>
<Content Key="89c5398c-9cb4-4103-821c-ce5b2671a7bf" Alias="Avanoria AB" Level="3">
  <Info>
    <Parent Key="650e34a1-dc45-43d4-9d96-8a18c7ab29fe">Services</Parent>
    <Path>/Onatrix/Services/AvanoriaAB</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-06T13:58:30</CreateDate>
    <NodeName Default="Avanoria AB" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="87dfd480-7e6c-43e8-a5ff-3c323f1f7e70">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Avanoria AB]]></Value>
    </pageTitle>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailsAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailsAsides>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "8140ee84-cfea-41c9-9240-04ea5c3d7684",
    "mediaKey": "c9b07499-b793-497e-ad46-c8815e4bfc82",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>