<?xml version="1.0" encoding="utf-8"?>
<Content Key="57837ea7-e0ba-4fe8-a076-d9f2f173748b" Alias="Contact" Level="2">
  <Info>
    <Parent Key="885b6172-11fa-47e6-91b3-307aeaa6ba8b">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-19T16:20:01</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="81751b89-8666-4a11-ba1e-5ba8d722a9fe">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4fd6f417-92ff-4546-85bc-910d0b65598e",
      "key": "d33d3815-de93-40e9-a5d4-8a4cad30efcf",
      "udi": null,
      "values": [
        {
          "alias": "Image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "dd51a04f-33dc-4efb-8493-0f5310b476a7",
              "mediaKey": "3c6685b2-de1b-465a-b49b-f15444fba3b9",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003ELet us know about your next project\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d33d3815-de93-40e9-a5d4-8a4cad30efcf",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d33d3815-de93-40e9-a5d4-8a4cad30efcf",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>