<?xml version="1.0" encoding="utf-8"?>
<Content Key="96e7b782-7c5c-4bca-a6d8-618d48cfb8ca" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="650e34a1-dc45-43d4-9d96-8a18c7ab29fe">Services</Parent>
    <Path>/Onatrix/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-27T12:56:36</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="87dfd480-7e6c-43e8-a5ff-3c323f1f7e70">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailsAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailsAsides>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "b9d5436b-d866-4337-8c80-d058ee5e3635",
    "mediaKey": "d70cda80-14ee-4fc4-bc4e-149e835359cc",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>