<?xml version="1.0" encoding="utf-8"?>
<Content Key="7fcec0b4-6d19-4c63-937e-f3d643f7ca57" Alias="HEJ HEJ HEJ" Level="3">
  <Info>
    <Parent Key="650e34a1-dc45-43d4-9d96-8a18c7ab29fe">Services</Parent>
    <Path>/Onatrix/Services/HEJHEJHEJ</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-08T16:09:53</CreateDate>
    <NodeName Default="HEJ HEJ HEJ" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="87dfd480-7e6c-43e8-a5ff-3c323f1f7e70">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Hej ASDF]]></Value>
    </pageTitle>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailsAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailsAsides>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "9ce24029-5c27-41eb-8ed8-f846b2ffd7eb",
    "mediaKey": "74549783-cfce-4d99-a8d4-1c83f95eb826",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>