<?xml version="1.0" encoding="utf-8"?>
<Content Key="0cc822d4-da35-4970-aa1f-1fc3aebd11b7" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="650e34a1-dc45-43d4-9d96-8a18c7ab29fe">Services</Parent>
    <Path>/Onatrix/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-27T12:55:55</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="87dfd480-7e6c-43e8-a5ff-3c323f1f7e70">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </pageTitle>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailsAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailsAsides>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "ae2614e5-9bd3-4941-8087-32bc0fa4d859",
    "mediaKey": "220e816b-23af-41fb-b2a0-98bca10ed550",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>