<?xml version="1.0" encoding="utf-8"?>
<Content Key="4bc057a8-b611-48ca-9a1b-73575d506c68" Alias="Service" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Service</Path>
    <Trashed Parent="885b6172-11fa-47e6-91b3-307aeaa6ba8b">true</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-11-10T15:19:22</CreateDate>
    <NodeName Default="Service" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7a1c7d94-5611-438f-bc9a-56405ead2578">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
  </Properties>
</Content>