<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9d6fdd8-6b2a-40a2-b65c-160453716785" Alias="Tax &amp; Trusts" Level="3">
  <Info>
    <Parent Key="650e34a1-dc45-43d4-9d96-8a18c7ab29fe">Services</Parent>
    <Path>/Onatrix/Services/TaxTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-27T12:56:59</CreateDate>
    <NodeName Default="Tax &amp; Trusts" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="87dfd480-7e6c-43e8-a5ff-3c323f1f7e70">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Tax & Trusts]]></Value>
    </pageTitle>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailsAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailsAsides>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "b4224fc0-15da-4820-b66c-b9fca7f03a1e",
    "mediaKey": "0b200cfd-108d-4162-bfef-34d879a4a2d9",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>