@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
  var content = (ContentModels.AboutUsTrusted)Model.Content;
}

<section class="bg-gray-100 py-[5rem]">
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex gap-16">
      <div class="rte">
        @content.Text
      </div>
      <div>
        @if (content.Image != null)
        {
          <img src="@content.Image.Url()" class="min-w-3xl object-cover" />
        }
      </div>
    </div>
  </div>
</section>