<?xml version="1.0" encoding="utf-8"?>
<DataType Key="55ee183c-c02b-4575-b771-d3d955bca06e" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cb132cbc-6bf8-4c16-83c9-32f136ebd47e"
    },
    {
      "contentElementTypeKey": "f08ed1d3-0f20-4d65-b202-9f1f7c025974",
      "settingsElementTypeKey": "6d32abce-e4c9-4d28-a131-6c43548f8b84"
    },
    {
      "contentElementTypeKey": "5ea16344-e07e-4ffc-9093-55581546d64a"
    },
    {
      "contentElementTypeKey": "5881ff9e-c0fc-4dc6-9bd1-c7a845b0451b",
      "settingsElementTypeKey": "94250052-978d-48f3-a23f-200daab43f05"
    },
    {
      "contentElementTypeKey": "4fd6f417-92ff-4546-85bc-910d0b65598e"
    },
    {
      "contentElementTypeKey": "825703dd-52b7-4b5e-aa2d-fd436b3d859d"
    },
    {
      "contentElementTypeKey": "dc6ba4c9-6e9f-413e-ad6a-54ee2aa1787f"
    },
    {
      "contentElementTypeKey": "2aebdfee-c1ea-4ecd-a322-f2794bfd4ab5"
    },
    {
      "contentElementTypeKey": "37c09221-d1b8-49d6-b33d-8869a969ba01"
    },
    {
      "contentElementTypeKey": "8b7696b7-1dcb-429d-a949-093166a9b66b"
    },
    {
      "contentElementTypeKey": "8f0f1e4e-a55b-459e-be27-8e69f73398dd"
    }
  ]
}]]></Config>
</DataType>