<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b0507299-e142-4992-bedd-87143ac92b14" Alias="Service Details Asides List" Level="1">
  <Info>
    <Name>Service Details Asides List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ae0eaa78-9f6b-41f6-b246-cf6ad6ee7a25"
    }
  ]
}]]></Config>
</DataType>