<?xml version="1.0" encoding="utf-8"?>
<DataType Key="20a19d8c-7c06-4699-bd04-fcf78afc7119" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8d41a3fa-6b10-419d-9fb8-4bf4b417f669",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>