<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b4a40702-0dfe-40da-b84a-90d10c4622e2" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f75046df-9fea-499b-b969-20c3de37092a",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>